<form [formGroup]="searchForm">
    <div class="row mt-3">
        <div class="mx-auto w-75">
            <div class="input-group">
                <input
                    class="form-control border rounded-pill"
                    type="search"
                    placeholder="Search..."
                    formControlName="searchTermGroup"
                >
            </div>
        </div>
    </div>
</form>

<div class="container mt-2 group-area">
    <div
        *ngFor="let group of this.groupList"
        [attr.data-group]="group.nameGroup"
        class="group-row row h-auto"
        (click)="groupSelection($event)">
        <div class="col-2 p-0 ms-1 my-auto">
            <img
                class="group-image" alt="User avatar"
                [src]="group.imageGroup"
            >
        </div>
        <div class="last-message col-9 ps-3">
            <div class="row position-relative">
                <div class="name-group p-0">{{group.nameGroup}}</div>
                <div class="time-last-message w-auto">{{group.timeLastMessage}}</div>
            </div>
            <div class="row">
                <label class="text-last-message">{{group.lastMessage}}</label>
            </div>
        </div>
    </div>
</div>
