<div class="group-list-app">
    <div class="header-group" *ngIf="this.userInfo">
        <div class="settings-tray">
            <img class="profile-image" [src]="this.userInfo.image"
                 alt="Profile img">
            <label class="username">{{userInfo.username}}</label>
            <span class="settings-tray--right">
			<i class="material-icons">cached</i>
			<i class="material-icons">message</i>
			<i class="material-icons">menu</i>
            <i class="material-icons" (click)="logout()">logout</i>
		  </span>
        </div>
        <div class="search-box">
            <div class="input-wrapper">
                <i class="material-icons">search</i>
                <input placeholder="Search here" type="text">
            </div>
        </div>
    </div>
    <div class="group-list" *ngIf="this.groupList">
        <div *ngFor="let group of this.groupList">
            <div
                    class="friend-drawer friend-drawer--onhover group-item"
                    [attr.id-group]="group.id"
                    (click)="setGroup($event)"
            >
                <img class="profile-image" [src]="group.image"
                     alt="">
                <div class="text">
                    <h6>{{group.name}}</h6>
                    <p class="text-muted">Hey, you're arrested!</p>
                </div>
                <span class="time text-muted small">13:21</span>
            </div>
            <hr>
        </div>
    </div>
</div>