$blue: #74b9ff;

::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.1);
}

.group-list-app {
  width: 100%;
  height: 100%;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.username {
  color: #e3e3e3;
  margin-left: 10px;
}

.header-group {
  position: fixed;
  width: 25%;
  z-index: 10;
  top: 0;
}

.settings-tray {
  background: #252C33;
  padding: 10px 15px;
  border-radius: 7px;

  .no-gutters {
    padding: 0;
  }

  &--right {
    float: right;

    i {
      margin-top: 10px;
      font-size: 25px;
      color: grey;
      margin-left: 14px;
      transition: .3s;

      &:hover {
        color: $blue;
        cursor: pointer;
      }
    }
  }
}

.search-box {
  background: #252C33;
  padding: 10px 13px;

  .input-wrapper {
    background: #555555;
    border-radius: 40px;

    i {
      color: #e3e3e3;
      margin-left: 7px;
      vertical-align: middle;
    }
  }
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
  padding: 0 10px;
  height: 40px;
  background: #555555;
  color: #e3e3e3;

  &::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
  }

  &:focus {
    outline: none;
  }
}

.group-list {
  height: 86%;
  margin-top: 140px;
  overflow: scroll;
  background: #252C33;
}

.friend-drawer {
  position: relative;
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  transition: .3s ease;

  &--grey {
    background: #eee;
  }

  .text {
    margin-left: 12px;
    width: 70%;

    h6 {
      color: #e3e3e3;
      margin-top: 6px;
      margin-bottom: 0;
      font-size: 15px;
    }

    p {
      margin: 0;
    }
  }

  .time {
    color: grey;
    float: right;
  }

  &--onhover:hover {
    background: $blue;
    cursor: pointer;
  }
}

hr {
  margin: 5px auto;
  width: 60%;
  color: #e3e3e3;
}