%TruncateString {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 5vh;
}

.input-group > input {
    font-size: 2vh;
    background-color: #F4F4F7;
}

.group-area {
    font-size: 2vh;

    .group-row {

        &:hover {
            background-color: #DADCDB;
        }

        .group-image {
            width: 6vh;
            height: 6vh;
            border-radius: 50%;
        }

        .last-message {

            .name-group {
                @extend %TruncateString;
                width: 80%;
            }

            .time-last-message {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0;
                color: #595959;
            }

            .text-last-message {
                @extend %TruncateString;
                padding: 0;
                color: #676767;
            }
        }
    }
}


