.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    font-size: 2vh;

    img {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
    }
}

.chat-area {
    width: 100%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .chat-bubble-container {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: flex-start;

        &.my-message {
            justify-content: flex-end;

            .chat-bubble {
                border-radius: 3vh 3vh 0 3vh;
            }
        }

        .user-image {
            width: 6vh;
            height: 6vh;
            border-radius: 50%;
            margin-top: auto;
            margin-bottom: -1%;
        }

        .chat-bubble {
            white-space: pre-line;
            background: #F4F4F7;
            padding: 1vh 10vh 2vh 1vh;
            margin: 2vh;
            border-radius: 3vh 3vh 3vh 0;
            width: fit-content;
            position: relative;
            font-size: 2vh;

            .chat-date {
                position: absolute;
                bottom: 1vh;
                right: 1vh;
                font-size: 1.2vh;
                color: black;
            }
        }
    }
}

.chat-area > :first-child {
    margin-top: auto;
}

.footer {
    background-color: #FFFFFF;
    border-top: 1px solid #EEEEEE;
    position: absolute;
    bottom: 0;

    .input-message-entry {
        display: inline-block;
        width: 90%;
        height: 8vh;
        border-radius: 15px;
        border: none;
        background-color: #FAFAFA;
        font-size: 3vh;
        resize: none;
        line-height: 6.7vh;
    }

    i {
        cursor: pointer;
        color: #4CAF7F;
        font-size: 4vh;
    }
}
