<div class="header-box">
    <div
        class="info-current-group h-auto"
    >
        <img alt="" [src]="" class="m-1">
        <label>Name Group</label>
    </div>
</div>
<div class="chat-area" id="chatArea">
    <div
        class="chat-bubble-container"
    >
        <img
            class="user-image" alt="User avatar"
            [src]=""
        >
        <div class="chat-bubble">
            <div>
                <label
                    class="username mb-2"
                >Имя пользователя</label>
            </div>
            <label>Сообщение</label>
            <div class="chat-date">
                12:22:12
            </div>
        </div>
    </div>
</div>
<form>
    <div class="footer w-100 d-flex align-items-center justify-content-center h-auto">
    <textarea
        id="textareaMessage"
        type="text"
        class="input-message-entry me-1 ps-2 m-2"
        placeholder="Enter your message here..."
    ></textarea>
        <i
            class="fa-solid fa-right-to-bracket fa-2x mx-auto"
        ></i>
    </div>
</form>
