app-group-list {
  max-width: 100%;
  display: inline-block;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-right: 1px solid #EEEEEE;
}

app-dialog-box {
  position: relative;
  max-width: 100%;
  display: inline-block;
  background-color: #FAFAFA;
}
