<div class="header my-2">
    <label>Edit user</label>
</div>
<form>
    <div [formGroup]="editUserForm" class="edit-form">
        <mat-form-field class="w-75" appearance="fill">
            <mat-label>Username</mat-label>
            <input class="input-username" formControlName="userName" matInput #message maxlength="20">
            <mat-hint align="end">{{message.value.length}} / 20</mat-hint>
        </mat-form-field>
        <label class="custom-file-update">
            <input type="file" accept="image/png, image/jpg, image/jpeg"
                   class="input-file" (change)="imagePreview($event)"
            >Update Image
        </label>
    </div>
</form>

<div class="btn-modal mt-2">
    <button class="my-2" mat-button mat-dialog-close="">Cancel</button>
    <button class="my-2" mat-button mat-dialog-close="" (click)="editUser()">Edit</button>
</div>

